@model RentalSite.Models.Property

@{
    ViewBag.Title = "Work on your listing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    @Styles.Render("~/Content/dropzonescss")
    @Styles.Render("~/content/PropertyEdit")
</head>

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.PropertyId)

    <div class="PropertyNameEdit">
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
            <div class="form-group">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
            <div class="DescriptionText">
                <p>
                    Your property name is one of the first things a prospective guest will see
                    when looking for accommodation in Harrogate.
                </p>
                <p>
                    Guests can browse properties by location so
                    there is no need to include the street address in your property name. Unless you believe
                    the street name or area will help make your property stand out and attract more guests that is!
                </p>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
