@model RentalSite.Models.Property

@{
    ViewBag.Title = "PropertyEditor";
    Layout = "~/Views/Shared/_PropertyLayout.cshtml";
}

<h2>Edit your listing</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @* Photos*@
    <div id="photos" class="container-fluid text-center bg-purple">
        <h3><span class="glyphicons glyphicon-camera"></span> Photos</h3>
        @foreach (var item in Model.PropertyImages)
        {
            <img src="~/Images/ms-icon-310x310.png" width="250" class="PropertyListItem.img" />
        }
    </div>

    @* Summary - details*@
    <div id="summary" class="container-fluid text-center bg-green">
        <h3><span class="glyphicon glyphicon-check"></span> Summary</h3>
        <h4>Address</h4>

        <dl class="dl-horizontal">
            <dt>
                @Html.LabelFor(model => model.PropertyAddress.AddressLine1, htmlAttributes: new { @class = "control-label" })
            </dt>
            <dd>
                @Html.EditorFor(model => model.PropertyAddress.AddressLine1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PropertyAddress.AddressLine1, "", new { @class = "text-danger" })
            </dd>

            <dt>
                @Html.LabelFor(model => model.PropertyAddress.AddressLine2, htmlAttributes: new { @class = "control-label" })
            </dt>
            <dd>
                @Html.EditorFor(model => model.PropertyAddress.AddressLine2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PropertyAddress.AddressLine2, "", new { @class = "text-danger" })
            </dd>

            <dt>
                @Html.LabelFor(model => model.PropertyAddress.AddressLine3, htmlAttributes: new { @class = "control-label" })
            </dt>
            <dd>
                @Html.EditorFor(model => model.PropertyAddress.AddressLine3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PropertyAddress.AddressLine3, "", new { @class = "text-danger" })
            </dd>

            <dt>
                @Html.LabelFor(model => model.PropertyAddress.AddressLine4, htmlAttributes: new { @class = "control-label" })
            </dt>
            <dd>
                @Html.EditorFor(model => model.PropertyAddress.AddressLine4, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PropertyAddress.AddressLine4, "", new { @class = "text-danger" })
            </dd>

            <dt>
                @Html.LabelFor(model => model.PropertyAddress.AddressLine5, htmlAttributes: new { @class = "control-label" })
            </dt>
            <dd>
                @Html.EditorFor(model => model.PropertyAddress.AddressLine5, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PropertyAddress.AddressLine5, "", new { @class = "text-danger" })
            </dd>

            <dt>
                @Html.LabelFor(model => model.PropertyAddress.Postcode, htmlAttributes: new { @class = "control-label" })
            </dt>
            <dd>
                @Html.EditorFor(model => model.PropertyAddress.Postcode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PropertyAddress.Postcode, "", new { @class = "text-danger" })
            </dd>
        </dl>

        <h4>Details</h4>
        <dl class="dl-horizontal">
            <dt>
                @Html.LabelFor(model => model.PropertyDetails.NumSleeps, htmlAttributes: new { @class = "control-label" })
            </dt>
            <dd>
                @Html.EditorFor(model => model.PropertyDetails.NumSleeps, new { htmlAttributes = new { @class = "form-control", @placeholder = "Including sofa beds" } })
                @Html.ValidationMessageFor(model => model.PropertyDetails.NumSleeps, "", new { @class = "text-danger" })
            </dd>

            <dt>
                @Html.LabelFor(model => model.PropertyDetails.NumBedrooms, htmlAttributes: new { @class = "control-label" })
            </dt>
            <dd>
                @Html.EditorFor(model => model.PropertyDetails.NumBedrooms, new { htmlAttributes = new { @class = "form-control", @placeholder = "Including sofa beds" } })
                @Html.ValidationMessageFor(model => model.PropertyDetails.NumBedrooms, "", new { @class = "text-danger" })
            </dd>

            <dt>
                @Html.LabelFor(model => model.PropertyDetails.NumBathrooms, htmlAttributes: new { @class = "control-label" })
            </dt>
            <dd>
                @Html.EditorFor(model => model.PropertyDetails.NumBathrooms, new { htmlAttributes = new { @class = "form-control", @placeholder = "Including sofa beds" } })
                @Html.ValidationMessageFor(model => model.PropertyDetails.NumBathrooms, "", new { @class = "text-danger" })
            </dd>

            <dt>
                @Html.LabelFor(model => model.PropertyDetails.Parking, htmlAttributes: new { @class = "control-label" })
            </dt>
            <dd>
                @Html.EnumDropDownListFor(model => model.PropertyDetails.Parking, new { htmlAttributes = new { @class = "form-control"} })
            </dd>
        </dl>
    </div>
    
    @*Descriptions*@
    <div id="description" class="container-fluid text-center">
        <h2><span class="glyphicon glyphicon-pencil"></span> Description</h2>
        <dl class="dl-horizontal">
            <dt>
                @Html.LabelFor(model => model.PropertyDetails.summaryText, htmlAttributes: new { @class = "control-label" })
            </dt>
            <dd>
                @Html.TextAreaFor(model => model.PropertyDetails.summaryText, new { htmlAttributes = new { @class = "form-control", @placeholder = "Please give a brief overview of your property" } })
                @Html.ValidationMessageFor(model => model.PropertyDetails.summaryText, "", new { @class = "text-danger" })
            </dd>

            <dt>
                @Html.LabelFor(model => model.PropertyDetails.apartmentText, htmlAttributes: new { @class = "control-label" })
            </dt>
            <dd>
                @Html.TextAreaFor(model => model.PropertyDetails.apartmentText, new { htmlAttributes = new { @class = "form-control", @placeholder = "Please describe the features of your property (i.e. describe the main contents/functions of each room)" } })
                @Html.ValidationMessageFor(model => model.PropertyDetails.apartmentText, "", new { @class = "text-danger" })
            </dd>

            <dt>
                @Html.LabelFor(model => model.PropertyDetails.servicesText, htmlAttributes: new { @class = "control-label" })
            </dt>
            <dd>
                @Html.TextAreaFor(model => model.PropertyDetails.servicesText, new { htmlAttributes = new { @class = "form-control", @placeholder = "Please give an overview of the services installed (e.g. wifi, dishwasher, cable TV)" } })
                @Html.ValidationMessageFor(model => model.PropertyDetails.servicesText, "", new { @class = "text-danger" })
            </dd>
        </dl>
    </div>

    @*Prices*@
    <div id="prices" class="container-fluid text-center bg-purple">
        <h2><span class="glyphicon glyphicon-gbp"></span> Prices</h2>
    </div>

    @*Availability*@
    <div id="availability" class="container-fluid text-center bg-grey">
        <h2><span class="glyphicon glyphicon-calendar"></span> Availability</h2>
    </div>

    @*Buttons*@
    <div class="form-group">
        <div class="container-fluid col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-floppy-save"></span> Save changes to listing</button>
            <button type="button" class="btn btn-danger" ><span class="glyphicon glyphicon-ban-circle"></span> Abandon any changes</button>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#button").click(function () {
                $("#ImageBox").slideDown(1000);
                $("#SubmitButton").fadeOut(1000);
            });
        });
    </script>
}
