<!DOCTYPE html>
<html>
<head>    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Harrogate Holiday Apartments</title>
    @Styles.Render("~/Content/GuestHomeStyle.css")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/toastr")
    <link rel="icon" href="~/Images/ms-icon-310x310.png" />
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans" rel="stylesheet" type="text/css" />
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href=@Url.Action("Index", "Home")>
                    <img src="~/Images/400dpiLogoCropped.png" width="170" class="navbar-brand"
                         title="Home from home accommodation" style="padding:0px;" />
                </a>
                @Html.ActionLink("Harrogate Holiday Apartments", "Index", "Home", new { area = "" }, new { @class = "navbar-brand collapse navbar-collapse" })
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("PROPERTIES", "Index", "Properties")</li>
                    <li>@Html.ActionLink("ABOUT", "About", "Home")</li>
                    <li>@Html.ActionLink("SERVICES", "Contact", "Home")</li>
                    <li>@Html.ActionLink("CONTACT", "Contact", "Home")</li>
                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </nav>

    <div class="container-fluid body-content">
        @RenderBody()
    </div>

    <div class="modal-footer">
        <footer>
            <p style="color:whitesmoke;"> &copy; @DateTime.Now.Year - Harrogate Holiday Apartments</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/toastr")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
